.form-title{
  font-size: 2.4em;
  color: #5D2E46;
  line-height: 1.2;
  font-family: 'Gloria Hallelujah', cursive;
  padding-bottom: 2%;
  border-bottom: 2px dashed;
  margin-bottom: 5%;
}

.submit-button{
  background: transparent;
  border: 2px solid;
  color: #5D2E46;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2% 4%;
  font-size: 1.0em;
  margin: 1% 0;
}

.submit-button:hover{
  background: #5D2E46;
  color: #fff;
}

.alert-box.round {
  border-radius: 0px !important;
}

.alert-box.alert {
  background-color: #f0412400 !important;
  border: 2px solid #de2d0f !important;
  color: #3c3c3c !important;
}

.alert-box.success, .alert-box.notice{
  background-color: #649087 !important;
  border-color: #649087 !important;
  color: #FFFFFF !important;
}

/* sign up error */
#error_explanation {
  border: 5px double #f31515;
  padding: 1%;
  margin-bottom: 3%;
}

#error_explanation h2{
  font-size: 1.4em;
}

#error_explanation ul li{
  font-size: 0.8em;
}

/* sign up pw */
.sign-up-pw{
  font-size: 0.8em;
  color: #5a5a5a;
}

/* restaurant form */
.restaurant-form{
  max-width: 800px;
  margin: 2% auto;
}

.dropzone p{
  text-align: center;
  margin-top: 27%;
  padding: 1%;
}
