@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Oswald:400,700|Roboto:400,700');

body{
  font-family: 'Roboto', sans-serif;
}

a{
  color: #434343;
}

ul{
  list-style-type: none;
  margin-left: 0.5rem;
}

h1{
  font-family: 'Gloria Hallelujah', cursive;
}

h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
  color: #5a5a5a;
}

.row{
  margin-bottom: 100px;
}

.page-title {
  font-size: 3.2em;
  color: #A3CEC4;
  width: 80%;
  margin: 2% auto 3%;
  border-bottom: 2px dashed;
  text-align: center;
  line-height: 1.2;
  font-family: 'Gloria Hallelujah', cursive;
}

a:hover {
  color: #5d5d5d;
}

.top-bar{
  background: #e1e1e1;
  height: auto;
}

.top-bar .name {
  background: #a9e1d5;
}

.top-bar-section li:not(.has-form) a:not(.button){
  background: #e1e1e1;
  color: #666;
}

.name:hover, .top-bar-section li:not(.has-form) a:not(.button):hover{
  background: #666;
  color: #fff;
}

.nav-back-button{
  color: #646464;
  cursor: pointer;
  padding-bottom: 5px;
  display: inline-block;
  padding: 5px 1px;
  font-size: 1.1em;
  margin: 5px 18px 10px;
  border-bottom: 2px solid #fff0;
}

.nav-back-button:hover{
  color: #454545;
}
